$breakpoint-mobile: 420px;
$breakpoint-720p: 1280px;
$breakpoint-900p: 1600px;
$breakpoint-1080p: 1920px;



.main {
    @media screen and (max-width: $breakpoint-mobile) {
        min-height: 65vh;
    }

    width: 100%;
    min-height: 40vh;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;

    .currnecy {
        color: #FFF;
        font-family: Kreon;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        font-size: clamp(60px, 10vw, 260px)
    }
}