$breakpoint-mobile: 420px;
$breakpoint-720p: 1280px;
$breakpoint-900p: 1600px;
$breakpoint-1080p: 1920px;

.main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: $breakpoint-mobile) {
        justify-content: center;
    }

    .leftSide {
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $breakpoint-mobile) {
            align-items: center;
        }

        .textLogo {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 32px;

            .cat {
                color: black;
                font-size: clamp(96px, 15vw, 288px);
                font-family: Kreon;
                font-weight: 500;
                word-wrap: break-word;
                text-shadow: 0px 3px 5px #7b7b7b;
            }

            .words {
                display: flex;
                flex-direction: column;
                margin-left: 2vw;

                .word {
                    color: black;
                    font-size: clamp(20px, 3vw, 60px);
                    font-family: Kreon;
                    font-weight: 300;
                    word-wrap: break-word;
                }

            }

        }

        .selectContainer {
            padding-left: 32px;

            @media screen and (max-width: $breakpoint-mobile) {
                padding-left: 0px;
            }

            color: #000;
            font-size: clamp(20px, 2vw, 50px);
            font-family: Kreon;
            font-weight: 300;
            word-wrap: break-word;

            .selectControl {
                border-radius: 18px;

                @media screen and (max-width: $breakpoint-mobile) {
                    border-radius: 12px;
                    border: 2px solid #DAD6D6;
                }

                width: clamp(180px, 30vw, 440px);
                border: 3px solid #DAD6D6;
                box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
            }

            .selectValueContainer {
                padding: 8px 16px;
                color: #000;

            }

            .selectMenu {
                width: clamp(180px, 30vw, 440px);
            }

            .selectIcon {
                margin-right: 24px;
            }

            .Option {
                color: #000;
                border: 1px solid #d8d8d8;
            }
        }

    }

    .rightSide {
        @media screen and (max-width: $breakpoint-mobile) {
            display: none;
        }

        .img {
            width: 30vw;
        }
    }
}